<div id="contain">
<div id="iphone">
  <div class="camera">
    <div class="lens">&nbsp;</div>
  </div>
  <div class="speaker">
    <div class="grill">&nbsp;</div>
  </div>
  <div class="screen">
    <div class="lockscreen">
    </div>
  </div>
  <div class="home">
    <div class="square">&nbsp;</div>
  </div>
</div>
</div>

{{!-- source: https://codepen.io/MayhemBliz/pen/HzfJm --}}