<div class="row">
  <div class="col-sm-12">

  {{!-- iphone --}}
  <div class="iphone-container">
    <div id="iphone">
      {{!-- camera --}}
      <div class="camera">
        <div class="lens">&nbsp;</div>
      </div>
      {{!-- speaker --}}
      <div class="speaker">
        <div class="grill">&nbsp;</div>
      </div>
      {{!-- MAIN SCREEN --}}
      <div class="screen">
        <div id="iphone-screen-container">
          {{!-- top banner --}}
          <div id="screen-top-banner"></div>

          {{!-- body --}}
          <div id="screen-body">
            <div class="number-container">
              <div id="call-status">
                <p>calling .... </p>
              </div>
              <div id="phone-number-display">
                <h3>908</h3>
              </div>
              <div class="num-keyboard">
                <div class="num-button" num="1">1</div>
                <div class="num-button" num="2">2</div>
                <div class="num-button" num="3">3</div>
                <div class="num-button" num="4">4</div>
                <div class="num-button" num="5">5</div>
                <div class="num-button" num="6">6</div>
                <div class="num-button" num="7">7</div>
                <div class="num-button" num="8">8</div>
                <div class="num-button" num="9">9</div>
                <div id="clear-num-button"> Clear </div>
                <div class="num-button" num="0">0</div>
                <div id="delete-num-button"> Del </div>
                {{!--<div class="button">Go</div>--}}
              </div>
              {{!-- first row of numbers --}}
              {{!--<div class="number-row">
                <button class='btn' data-key'1'>1</button>
                <button class='btn' data-key'1'>1</button>
                <button class='btn' data-key'1'>1</button>
              </div>--}}
              {{!--<button class='btn' data-key'1'>1</button>
              <button class='btn' data-key'1'>1</button>
              <button class='btn' data-key'1'>1</button>
              <button class='btn' data-key'1'>1</button>
              <button class='btn' data-key'1'>1</button>--}}
            </div>
          </div>

          {{!-- bottom banner --}}
          <div id="screen-bottom-banner"></div>
        </div>
        {{!--<div class="screen-nav"></div>--}}
      </div>
      {{!-- bottom part --}}
      <div class="home">
        <div class="square">&nbsp;</div>
      </div>

    </div>
  </div>{{!-- iphone-container --}}

  </div>
</div>

{{!-- source: https://codepen.io/MayhemBliz/pen/HzfJm --}}
    {{!--<div id="contain">
    <div id="iphone">
      <div class="camera">
        <div class="lens">&nbsp;</div>
      </div>
      <div class="speaker">
        <div class="grill">&nbsp;</div>
      </div>
      <div class="screen">
        <div class="lockscreen">
        </div>
      </div>
      <div class="home">
        <div class="square">&nbsp;</div>
      </div>
    </div>
    </div>--}}
