<div class="row">
  <div class="col-sm-6">

  {{!-- iphone --}}
  <div class="iphone-container">
    <div id="iphone">
      {{!-- camera --}}
      <div class="camera">
        <div class="lens">&nbsp;</div>
      </div>
      {{!-- speaker --}}
      <div class="speaker">
        <div class="grill">&nbsp;</div>
      </div>
      {{!-- MAIN SCREEN --}}
      <div class="screen">
        <div id="iphone-screen-container">
          {{!-- top banner --}}
          <div id="screen-top-banner"></div>

          {{!-- body --}}
          <div id="screen-body">
            <div class="number-container">
              <div id="status-wrapper">
                <p id="msg-status"></p>
              </div>
              <div id="phone-number-display-wrapper">
                <h3 id="phone-number-display"></h3>
              </div>
              <div class="num-keyboard">
                <div class="num-button" num="1">1</div>
                <div class="num-button" num="2">2</div>
                <div class="num-button" num="3">3</div>
                <div class="num-button" num="4">4</div>
                <div class="num-button" num="5">5</div>
                <div class="num-button" num="6">6</div>
                <div class="num-button" num="7">7</div>
                <div class="num-button" num="8">8</div>
                <div class="num-button" num="9">9</div>
                <div id="clear-num-button"> Clear </div>
                <div class="num-button" num="0">0</div>
                <div id="delete-num-button"> Del </div>
              </div>
            </div>
          </div>

          {{!-- bottom banner --}}
          <div id="screen-bottom-banner">
            <button class="btn btn-block btn-info" id="call-action-btn">call</button>
          </div>
        </div>
        {{!--<div class="screen-nav"></div>--}}
      </div>
      {{!-- bottom part --}}
      <div class="home">
        <div class="square">&nbsp;</div>
      </div>

    </div>
  </div>{{!-- iphone-container --}}

  </div>

  {{!-- panels yo--}}
  <div class="col-sm-6">
    {{!-- Recent Calls--}}
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Recent calls</h3>
      </div>

      <ul class="list-group">
        {{#each data.recentCalls}}
        <li class="list-group-item">{{this}}</li>
        {{/each }}
        {{!--<li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>--}}
      </ul>
    
    </div>

    {{!-- Address--}}
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Your Contacts:</h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><button class="btn btn-info">Add New Contact</button></li>
        {{#each data.contacts}}
        <li class="list-group-item">{{firstName}} {{lastName}}: {{phoneNumber}}</li>
        {{/each }}
        {{!--<li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>--}}
      </ul>
    </div>

    {{!-- Contacts --}}
    
  </div>{{!-- closses col-sm-6 --}}
</div>


{{!--<button class="btn btn-info" id="call-btn">Call</button>
<button class="btn btn-danger" id="hangup-btn">Hang up</button>--}}

{{!-- source: https://codepen.io/MayhemBliz/pen/HzfJm --}}
    {{!--<div id="contain">
    <div id="iphone">
      <div class="camera">
        <div class="lens">&nbsp;</div>
      </div>
      <div class="speaker">
        <div class="grill">&nbsp;</div>
      </div>
      <div class="screen">
        <div class="lockscreen">
        </div>
      </div>
      <div class="home">
        <div class="square">&nbsp;</div>
      </div>
    </div>
    </div>--}}
